@CHARSET "UTF-8";
/* 
 *  全局样式
 *  ---------------------------------------
 *  作者: haibao(http://www.hehaibao.com/)
 *  时间: 2015-08-12
 *  企鹅：964279742
 *  创意源于生活，代码如诗从你我开始
 */
html,body{margin:0;padding:0;width:100%;height:100%;background-color:#f2f2f2;}
body{max-width:640px;margin:0 auto;position:relative;font: .85em/1.4 "微软雅黑","Microsoft Yahei",'Arial','san-serif';color: #666;}
img{max-width:100%;height:auto;width: auto9;-ms-interpolation-mode:bicubic;vertical-align: middle;}
ul,li,ol{list-style:none;padding:0;margin:0;}
p{padding:0 20px;margin:0;}
a{color:#666;text-decoration:none;}

/*slider*/
#sliderBox{position:relative;width:100%;height:175px;overflow:hidden;}
#arrow {position:absolute;bottom:10px;right:10px;}
#arrow li{width:12px;height:12px;float:left;display:inline-block;margin: 0 3px;background-color: #d5dbd6;border-radius: 50%;-webkit-border-radius: 50%;}
#arrow li.active{background-color:#c95122;}
